/* .App {
  text-align: center;
} */
ul,li,div,span,p,h1,h2,h3,h4 {
  margin:0;
  padding:0;
}
*{
  touch-action:pan-y;;
}
li{
  list-style: none;
}

.App{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
